{% extends 'base.html' %}{% set title='系统设置 - 修改密码' %}{% block content %}
<section class="panel form-panel"><form method="post" class="form-grid narrow">
  <label class="full">原密码<input type="password" name="old_password" required></label>
  <label class="full">新密码<input type="password" name="new_password" required minlength="6"></label>
  <label class="full">确认新密码<input type="password" name="confirm_password" required minlength="6"></label>
  <div class="full"><button class="btn primary">修改密码</button></div>
</form></section>
{% endblock %}
